
$messages-box-background-color:  lightgray;

.message-card {
    padding: 0.1em;
    padding-left: 1em;
    margin: 0.5em;
    border-radius: 0.5em;
    width: 50%;
    display: inline-grid;
    grid-template-columns: 15% auto 8%;
}

.you {
    float: left;
    background-color: $messages-box-background-color;
}
.other {
    float: right;
    background-color: lightskyblue;
}

.input-form {
    width: 99%;
    
}
.input-container{
    width: 99%;
}

html{
    margin-bottom: 5em;
}

.delete-button{
    height: 2.5em;   
}

.message-text-paragraph {
    margin: .3em;
}
.dropup .dropdown-menu {
    top: auto;
    bottom: 100%;
    margin-bottom: .125rem;
}

@mixin setColor($body-background-color,  $font-color, $message-background-color, $nav-background-color) {
    background-color: $body-background-color;
    .message-card {
        background: $message-background-color;
        p {
            color: $font-color;
        }
    }
    nav {
        background-color: $nav-background-color !important;
    }
}

.dark {
    @include setColor(#67828d, white, #535d72, 	#67828d	);
    nav {
        #clear-button{
            color: black !important;
            border-color: black;
        }
    }
}

.pepto {
    @include setColor(lightblue, white, pink, pink);
    h1 {
        color: pink;
    }
}

.light {
    @include setColor(#69d2e7, black, white, #a7dbdb);
}

.normal {
    
}
