
$messages-box-background-color:  lightgray;

.message-card {
    padding: 0.1em;
    padding-left: 1em;
    margin: 0.5em;
    border-radius: 0.5em;
    width: 50%;
}

.you {
    float: left;
    background-color: $messages-box-background-color;
}
.other {
    float: right;
    background-color: lightskyblue;
}

.dropup .dropdown-menu {
    top: auto;
    bottom: 100%;
    margin-bottom: .125rem;
}

@mixin setColor($background-color,  $font-color) {
    background-color: $background-color;
    .message-card {
        p {
            color: $font-color;
        }
    }
}

.dark {
    @include setColor(darkgray, black);
    
}

.light {
    @include setColor(lightgray, white);
}

.normal {

}
