
$messages-box-background-color:  lightgray;

.message-card {
    padding: 0.1em;
    padding-left: 1em;
    margin: 0.5em;
    border-radius: 0.5em;
    width: 50%;
    display: inline-grid;
    grid-template-columns: 15% auto 8%;
}

.you {
    float: left;
    background-color: $messages-box-background-color;
}
.other {
    float: right;
    background-color: lightskyblue;
}

.input-form {
    width: 99%;
    
}
.input-container{
    width: 99%;
}

html{
    margin-bottom: 5em;
}

.delete-button{
    height: 2.5em;   
}

.message-text-paragraph {
    margin: .3em;
}